DEMO/services/s_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="s"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="sOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sOperationRequest">
		<wsdl:part name="parameters" element="tns:sOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sOperationResponse">
		<wsdl:part name="parameters" element="tns:sOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="sPortType">
		<wsdl:operation name="sOperation">
			<wsdl:input message="tns:sOperationRequest"></wsdl:input>
			<wsdl:output message="tns:sOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="sBinding" type="tns:sPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sOperation">
			<soap:operation soapAction="http://www.talend.org/service/sOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="s">
		<wsdl:port name="sPort" binding="tns:sBinding">
			<soap:address location="http://localhost:8090/services/s" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>